body {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom:2%;
    text-align: justify;
}
h2{
    text-align: center;
    padding: 1%;
    background-color: #A7383E;
    border-radius:10px;
    color: whitesmoke;
    position: relative;
}
h2::before{
    content:"▶";
    position: absolute;
    left: 10px;
    color:grey
}
h3{
    color: #1d325b;
}
h1{
    text-align: center;
}
ol.rim{
    list-style-type:upper-roman;
}
ol.a{
    list-style-type:lower-alpha;
}
dt, dd{
    padding-bottom:10px ;
}
table{
    border: 1px solid;
    border-collapse: collapse;
    padding: 6px;
    margin:auto;
}
th{
    border: 1px solid;
    border-collapse: collapse;
    padding: 6px;
}
thead{
    text-align: center;
    background-color:#bfc2c6;
    padding-top: 10px;
}
tfoot{
    background-color: #bfc2c6;
    
}
th.udaje{
  color:red;
  border-color: black ;
}
caption{
    color: whitesmoke;
    background-color: #4d4c4c;
    margin-bottom: 5px;
    padding: 3px;
    
}
th.cisla{
    text-align: right;
}
